:root {
  --green: #26A682;
  --blue: #5DA9E9;
  --purple: #7D70BA;
  --white: #F2F2F2;
  --grey: #3C3B3A;
}
body {
  font-family: 'Raleway', sans-serif;
  color: var(--grey);
  margin-top: -20px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
nav {
  background-color: var(--grey);
}
ul {
  list-style: none;
}
li {
  text-align: center;
  font-size: 18px;
  padding-bottom: 25px;
}
.logo {
  display: initial;
  width: 25%;
}
a, a:hover, a:visited {
  text-decoration: none;
  color: var(--white);
}
.margin {
  margin: 0 5%;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 32px;
  font-style: italic;
}
h4 {
  font-size: 24px;
  color: var(--green);
  font-weight: normal;
  margin-top: -20px;
  margin-bottom: -10px;
}
h5 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}
p {
  line-height: 2;
}
.sports {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.sportsinner {
  text-align: center;
}
i.fas {
  font-size: 40px;
  color: var(--grey);
}
/* Animations for Sport Icons */
.fa-bowling-ball:hover, .fa-basketball-ball:hover {
  transform: rotate(360deg);
  transition: transform 2s;
}
.fa-dumbbell:hover {
  transform: translateY(-10px);
  transition: transform 2s;
}
.fa-hiking:hover {
  transform: translateX(10px);
  transition: transform 2s;
}
.greentext {
  font-size: 17px;
  color: var(--green);
}
.greenbutton {
  background-color: var(--green);
  border: none;
  border-radius: 25px;
  font-family: 'Raleway';
  font-size: 32px;
  color: var(--white);
  font-weight: bold;
  width: 100%;
  height: 50px;
  box-shadow: 0px 10px 10px grey;
}
/* Animating the Get Started Button using keyframes */
.stretch {
  animation-name: stretch;
  animation-duration: 1.5s;
}
@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.learningimg {
  margin-top: 50px
}
.minibutton {
  width: 50%;
  margin: 0 50%;
}
.president {
  background-color: var(--grey);
}
.margin2 {
  margin-top: 30px;
  padding-top: 20px;
}
.simonimg {
  max-width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--white);
}
.whitetext {
  color: var(--white);
}
.whiteh4 {
  margin: auto;
  font-weight: bold;
  text-align: center;
}
footer {
  background-color: var(--grey);
  margin-top: -30px;
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  ". socials return";
}
.socialbox {
  grid-area: socials;
}
.socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
}
.return {
  grid-area: return;
}
.arrow {
  display: initial;
  width: 20px;
}
.smalltext {
  color: var(--white);
  font-size: 9px;
  margin-top: -5px;
}
/* ABOUT PAGE SPECIFIC STYLES */
.about-header {
  background:linear-gradient(0deg, rgba(38, 166, 130, 0.5), rgba(38, 166, 130, 0.5)), url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.about-header-text {
  color: var(--white);
  text-align: center;
  padding-top: 100px;
}
.fancyh2 {
  font-style: italic;
}
.services-header {
  background:linear-gradient(0deg, rgba(38, 166, 130, 0.5), rgba(38, 166, 130, 0.5)), url(../images/services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.services-header-text {
  color: var(--white);
  text-align: center;
  padding-top: 100px;
}
.hiddenimg {
  display: none;
}
.about3 {
  margin-bottom: 50px;
}
/* CONTACT PAGE SPECIFIC STYLES */
.contact-form-section {
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  font-family: 'Raleway';
  font-size: 32px;
  color: var(--white);
  font-weight: bold;
  padding: 5%;
}
.formh1 {
  margin: -5px 0 5px;
}
label {
  font-size: 18px;
  font-weight: normal;
  display: block;
}
input {
  font-family: 'Raleway';
  font-size: 16px;
  width: 95%;
  border: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.textarea {
  padding-bottom: 75px;
  margin-bottom: 20px;
}
.blackbutton {
  background-color: var(--grey);
  border: none;
  border-radius: 25px;
  font-family: 'Raleway';
  font-size: 32px;
  color: var(--white);
  font-weight: bold;
  width: 100%;
  height: 50px;
  box-shadow: 0px 5px 10px var(--grey);
}
.blackh4 {
  color: var(--grey);
}
.contactfooter {
  margin-top: -5px;
}
/* MEDIA QUERY FOR TABLET */
@media screen and (min-width: 760px) {
  ul {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo {
    display: block;
    width: 100%;
    margin: -40px -30px -30px;
  }
  h1 {
    font-size: 72px;
  }
  h5 {
    font-size: 24px;
  }
  .sports {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .greenbutton {
    max-width: 35%;
    margin: 0 33%;
  }
  .learningimg {
    width: 50%;
    margin: 50px auto;
  }
  .schoolimg {
    object-fit: cover;
    object-position: 35% 65%;
    height: 150px;
    width: 100%;
  }
  .minibutton {
    margin: 0;
  }
  .prezgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "pic text"
    "name text";
  }
  .simonimg {
    grid-area: pic;
    margin-top: 50px;
    margin-bottom: -100px;
  }
  .simonname {
    grid-area: name;
  }
  .simontitle {
    grid-area: name;
    padding-top: 80px;
  }
  .simontext {
    grid-area: text;
  }
  .whitetext {
    font-size: 24px;
    line-height: 1.5;
  }
  .socials {
    width: 50%;
  }
  /* TABLET ABOUT STYLES */
  .about-header-text {
    padding-top: 75px;
  }
  .services-header-text {
    padding-top: 75px;
  }
  .hiddenimg {
    display: initial;
  }
  .about3 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-template-areas: 
    "bar break break"
    ". . ."
    "comp comp bowl";
  }
  .barimg {
    grid-area: bar;
    object-fit: cover;
    width: 100%;
    height: 280px;
  }
  .breaktext {
    grid-area: break;
    margin: -30px 0 0 20px;
  }
  .competetext {
    grid-area: comp;
  }
  .bowlimg {
    grid-area: bowl;
    object-fit: cover;
    width: 100%;
    height: 280px;
  }
  /* CONTACT TABLET STYLES */
  label {
    font-size: 18px;
  }
  input {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .blackbutton {
    width: 30%;
  }
  .flextest {
    display: flex;
    flex-direction: row-reverse;
  }
  .blackh4 {
    margin-top: -50px;
    font-size: 40px;
  }
  iframe {
    height: 500px;
  }
}
/* MEDIA QUERY FOR DESKTOP STYLES */
@media screen and (min-width: 1266px) {
  ul {
    display: flex;
    justify-content: flex-start;
  }
  li {
    margin: 0 20px;
  }
  .discover1 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: 
    "title pic"
    "subtitle pic"
    "sports pic"
    "button pic";
  }
  .title1 {
    grid-area: title;
  }
  .subtitle1 {
    grid-area: subtitle;
  }
  .sports {
    grid-area: sports;
  }
  .stretch {
    grid-area: button;
  }
  .learningimg {
    grid-area: pic;
    width: 100%;
  }
  .greenbutton {
    margin: 0;
  }
  .desktopdiscover {
    margin: -100px 10% 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.5fr;
  }
  .schoolimg {
    object-position: initial;
    height: 337px;
    width: 813px;
  }
  .prezgrid {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "pic title text";
    margin-bottom: 20px;
  }
  .simonimg {
    grid-area: pic;
    margin-top: 0;
  }
  .simonname {
    grid-area: title;
  }
  .simontitle {
    grid-area: title;
  }
  .simontext {
    grid-area: text;
  }
  .socials {
    width: 25%;
  }
  .return {
    margin-left: 80%;
  }
  /* DESKTOP ABOUT STYLES */
  .about1 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .about2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridspace {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about3 {
    grid-template-columns: 1fr 0.05fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-template-areas: 
    "bar . break"
    ". . ."
    "comp . bowl";
  }
  /* DESKTOP CONTACT STYLES */
  .contactgrid {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.65fr;
    grid-template-areas: 
    "title title form"
    ". . ."
    "location map map";
    margin-top: 100px;
  }
  .contact1 {
    grid-area: title;
    margin-top: -100px;
  }
  .contact-form-section {
    grid-area: form;
    width: 70%;
    margin-bottom: 120px;
  }
  .location {
    grid-area: location;
    margin-top: -75px;
  }
  .mapimg {
    grid-area: map;
    width: 90%;
    margin: -50px auto 50px;
  }
}