/* using the body selector, we can style the properties with declarations */
body {
  color: rgb(50, 50, 50);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

/* Header Colouring and Underlining */
h1, h2, h3 {
  text-decoration: underline;
}

h1 {
  color: white;
}

/* Background colouring */
p {
  background-color: greenyellow;
}

table {
  border: 1px solid grey;
}

/* Selecting child elements */
nav ul {
  list-style: none;
}

/* Selecting child elements on multiple levels, more levels means more specificity */
nav ul a {
  color: darkslategrey;
  text-decoration: none;
}

/* Selecting HTML element using class name (Recommended for specificity)*/
.orange-link {
  background-color: darkslategrey;
  color: orange;
  text-decoration: none;
}

html {
  background: lightgrey;
}

/* Selecting the HTML element using id value (Not recommended as its more specific than classes) */
#tow {
  background: orange;
}

.large-text {
  font-size: 20px;
}
/* Child selector or Direct Child selector
Selecting only the p directly inside the article
 */
 article>p {
   font-size: 24px;
 }
 /* Adjacent Sibling Selector
 Selecting only the ul that is adjacent to an h3
  */
  h3+ul {
    border: 1px solid black
  }
  /* Attribute selector */
  [href="#tow"] {
    font-weight: bold;
  }
  [target="_blank"] {
    text-transform: uppercase;
  }