/* Defining Font Family and Background Colour for the entire site */
html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(170, 212, 207);
}
/* Defining the Width, Background Colour and Margin for the body content of the site */
body {
  max-width: 800px;
  background-color:lightcyan;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* Styling the header, and adding the background image to it */
h1 {
  text-align: center;
  font-size: 48px;
  color: white;
  background-image: url("../images/lone-starfish-wide.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px;
  margin-bottom: -15px;
  margin-top: 0px;
  border-left: 2px solid grey;
}
/* Modifying placement of the header text */
.text-offset {
  padding-bottom: 50px
}
/* Setting up the CSS for the Navigation tabs */
nav ul li {
  display: inline-block;
  width: 32%;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid black;
  padding-top: .5em;
}
/* Removing right divider for final navigation tab */
nav ul li:last-child {
  border: none;
}
/* Changing the format of the navigation text */
.black-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/* Adding a margin to the main content of the site */
main {
  margin: 10px;
}
/* Adding the image of the starfish, settings its dimensions and margin, and floating it next to the text */
.image {
  width: 180px;
  height: 180px;
  margin-top: -10px;
  margin-right: 10px;
  float: left;
}
/* Setting fontsize of the paragraphs */
p {
  font-size: 13px;
}
/* Changing fontsize and margins for the list of facts  */
.fact-list li {
  margin-left: -25px;
  font-size: 13px;
  font-weight: bold;
}
/* Adding a border, margin and padding to the contact section */
#contact-box {
  border: solid 1px black;
  padding: 10px;
  margin: -10px 0px;
}
/* Adding a ligher border to some of the input fields */
.white-border {
  border: 1px solid lightgray;
}
/* Making the label text bolded and smaller */
.submit-label {
  font-size: 14px;
  font-weight: bold;
}
/* Stretching the input boxes almost to the edge of the page */
.long-width {
  width: 750px;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* Modifying the height of the message box, adding a border and a margin */
#yourmessage {
  height: 75px;
  border: .5px solid grey;
  margin-bottom: -5px;
}
/* Styling the submit button */
#button-submit {
  font-size: 10px;
  padding: 10px;
  background: none;
  border: 1px solid black;
  margin-top: 5px;
}
/* Right aligning the footer, and changing its font size */
footer {
  text-align: right;
  padding: 25px;
  font-size: 12px;
}