html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: green;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.site-header,
.site-footer {
  background-color: grey;
}
main {
  background: lightblue;
}
.location {
  background: lightcoral;
}
.location iframe {
  width: 100%;
}