/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styling for Mobile*/
/* Notes for Colours
Marigold colour = EFA00B

*/
html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}
h1 {
	font-size: 72px;
	font-weight: bold;
}
h2 {
	font-size: 40px;
	font-weight: bold;
}
h3 {
	font-size: 32px;
	font-weight: bold;
}
h4 {
	font-size: 24px;
}
h5 {
	font-weight: bold;
}
header {
	background-color: #202020;
	color: white;
}
a, 
a:link, 
a:visited
{
	text-decoration: none;
	color: #EFA00B;
}
nav {
	padding: 15px;
	font-size: 16px;
}
nav ul li {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
}
nav ul .blackfont {
	color: #202020;
}
.orgbkg {
	background-color: #EFA00B;
}
.logo{
	text-align: left;
}
.submit{
	display: grid;
	grid-template-columns: 15fr 1fr;
}
#search{
	height: 28px;
}
nav ul li form div button {
	color: #EFA00B;
	background-color: #202020;
	border: 1px solid #EFA00B;
	font-size: 20px;
	padding: none;
}
.header {
	background-image: url(../images/main-banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-container {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 75px;
	padding-bottom: 1px;
}
.headertext {
	padding-left: 30px;
	padding-bottom: 20px;
}
.orangebutton {
	color: #202020;
	padding: 30px;
	background-color: #EFA00B;
	margin: 16px;
	width: 30%;
}
.container1 {
	background-color: tan;
	padding: 10px;
	width: auto;
}
.img2 {
	max-width: 100%;
}
#aboutus {
	margin-top: 25px;
	margin-bottom: 25px;
}
.container1 div p {
	padding-bottom: 10px;
}