/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styling for Mobile*/
/* Notes for Colours
Marigold colour = EFA00B

*/
/* Defining font choice and sizing for doc and headers */
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 72px;
	font-weight: bold;
}
h2 {
	font-size: 48px;
	font-weight: bold;
}
h3 {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px
}
h4 {
	font-size: 24px;
}
h5 {
	font-weight: bold;
	border-bottom: 2px solid #EFA00B;
	margin-top: -15px;
	margin-bottom: 15px;
}
/* Adding black background and text colour to header */
header {
	background-color: #222;
	color: white;
}
/* Removing decoration on nav link text */
nav a, 
nav a:link, 
nav a:visited
{
	text-decoration: none;
	color: #c78c06;
}
/* Customizing nav styles */
nav {
	padding: 10px;
	font-size: 16px;
}
nav ul li {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
}
nav ul .blackfont {
	color: #202020;
}
.orgbkg {
	background-color: #c78c06;
}
.orgbkg2 {
	background-color: #c78c06;
}
.logo{
	text-align: left;
}
/* Grid for the submit line and button, to keep them properly connected */
.submit{
	display: grid;
	grid-template-columns: 15fr 1fr;
}
#search{
	height: 28px;
}
nav ul li form div button {
	color: #c78c06;
	background-color: #222;
	border: 1px solid #c78c06;
	font-size: 20px;
	padding: none;
}
/* Adding background image to header, modifying styles */
.header {
	background-image: url(../images/main-banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-container {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 75px;
	padding-bottom: 1px;
}
.headertext {
	padding-left: 30px;
	padding-bottom: 20px;
}
.orangebutton {
	color: #202020;
	padding: 30px;
	background-color: #c78c06;
	margin: 16px;
	display: inline-block;
}
/* Adding 10px padding to entire body */
.container {
	width: auto;
	padding: 10px;
	margin: 0 auto;
}
/* Setting background colour for content, adding spacing */
.container1 {
	background-color: #E0D68A;
	padding: 10px;
	width: auto;
	margin-bottom: 15px;
}
.img2 {
	max-width: 100%;
}
#aboutus {
	margin-top: 25px;
	margin-bottom: 25px;
}
.container1 div p {
	padding-bottom: 10px;
}
/* Defining first grid for the services */
.grid1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .5fr 5fr 5fr 5fr 5fr 5fr;
}
.service {
	background-color: #E0D68A;
	margin-top: 10px;
}
.servicetext {
	padding: 10px;
}
.serviceimg {
	width: 100%;
	height: auto;
}
.blackbutton {
	color: white;
	background-color: #222;
	display: inline-block;
	padding: 30px;
	margin-top: 15px;
}
/* Adding stretched our vision image */
.vision {
	background-image: url(../images/vision.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.container2 {
	color: white;
	padding-left: 10px;
}
.bluebutton {
	display: inline-block;
	padding: 25px;
	margin-top: 15px;
	margin-bottom: -5px;
	background-color: #0A2342;
	border: 1px solid #c78c06;
}
/* Adding second grid for 'Our Team' */
.grid2 {
	display: grid;
	margin-top: 15px;
}
.teamtext {
	background-color: #E0D68A;
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 10px;
}
/* Adding final grid for the contact and embedded map */
.grid3 {
	display: grid;
	margin-top: 20px;
	padding-right: 10px;
	width: auto;
}
.submission {
	width: 100%;
	margin-bottom: 5px;
	height: 2em;
}
#message {
	height: 120px;
}
.blackbutton2 {
	color: #c78c06;
	background-color: #222;
	font-size: 20px;
	border: none;
	padding: 5px;
}
/* Creating table for hours of operation */
table {
	border: 1px solid #222;
	width: 100%;
}
thead {
	background-color: #E0D68A;
}
tbody {
	text-align: left;
}
th {
	padding: 10px;
	border: 1px solid #222;
}
iframe {
	width: 100%;
}
/* Footer styles */
footer {
	background-color: #222;
	color: #c78c06;
	line-height: 1.5;
	padding-top: 15px;
	padding-bottom: 10px;
}
/* Removing partial styles for Unsplash link */
footer div a:link,
footer div a:visited {
	color: #c78c06;
}
/* DESKTOP STYLING */
@media screen and (min-width: 760px){
	/* Defining max content width and centering*/
	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
	/* Adding flexbox for nav to stretch it horizontally */
	nav ul {
		max-width: 1200px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
	}
	nav ul li {
		width: 25%;
		padding: 15px auto;
	}
	.logo {
		width: 250px;
	}
	/* Changing home button colouring */
	.orgbkg {
		background-color: #222;	
	}
	.blackfont {
		background: #c78c06;
	}
	.header-container {
		max-width: 1200px;
		margin: 0 auto;
	}
	/* Using grid functionality to split About Us into dual column */
	.container5 {
		display: grid;
		max-width: 1200px;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}
	.e2 {
		margin: -30px 0 0 10px;
		font-size: 14px;
	}
	/* Creating Grid template area for services desktop layout */
	.grid1 {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr auto;
		grid-template-areas: 
			"serviceheader serviceheader serviceheader serviceheader serviceheader serviceheader"
			"digital digital digital marketing marketing marketing"
			"video video web web print print";
	}
	.service {
		margin: 10px 10px 0 0;
	}
	.serviceheader {
		grid-area: serviceheader;
	}
	.digital {
		grid-area: digital;
	}
	.marketing {
		grid-area: marketing;
	}
	.video {
		grid-area: video;
	}
	.web {
		grid-area: web;
	}
	.print {
		grid-area: print;
	}
	.blackbutton {
		display: block;
		text-align: center;
	}
	.container2 {
		max-width: 1200px;
		margin: 0 auto;
	}
	/* Creating grid template area for Our Team desktop layout */
	.grid2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas: 
			"title title"
			"johnpic john"
			"bob bobpic";
	}
	.f1 {
		grid-area: title;
	}
	.f2 {
		grid-area: johnpic;
	}
	.f3 {
		grid-area: john;
		margin: 0 auto;
	}
	.f4 {
		grid-area: bobpic;
		margin: -5px 0 0 0;
	}
	.f5 {
		grid-area: bob;
		margin: -5px 0 4px 0;
	}
	/* Creating grid template area for Contact and Map section desktop layout */
	.grid3 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			"title title"
			"message location"
			"hours hours";
	}
	.c1 {
		grid-area: title;
	}
	.c2 {
		grid-area: message;
		padding-right: 20px;
	}
	.c3 {
		grid-area: hours;
	}
	.c4 {
		grid-area: location;
		width: 100%;
	}
}